= render 'shared/chat-side'


.chat-main

  .chat-main__header
    .chat-main__header--group
      .chat-main__header--group-name
        = @group.name
      = link_to 'Edit', edit_group_path(@group), class: "chat-main__header--group-edit-btn"
    .chat-main__header-members
      MEMBER:
      - @group.users.each do |user|
        %i
          = user.name

  .chat-main__body
    .chat-main__body--messages-list
      - @messages.each do |message|
        = render partial: 'message', locals: {message: message}

  .chat-main__footer
    =form_for [@group, @message] do |f|
      .chat-main__footer-body
        =f.text_field :body, placeholder: 'type a message'
        %label.chat-file
          = f.file_field :image
          %i.fa.fa-image
      = f.submit 'Send', class: 'submit'
